body{
  background-color: #E8E8E8;
/* background-size: 100%; */
font-family: 'Sansita', sans-serif;
}
.title1{
  position: relative;
  margin-top: -15px;
/*   border: 2px solid; */
  text-align: center;
  font-size: 30px;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Sansita', sans-serif;
  color: rgba(0,0,0,0.7);
}
.scene{
/*   border: 2px solid; */
/*    background: url(img/2.png) no-repeat center center; */
background-color: rgba(0,0,0,0);
  width: 1920px;
  height: 1080px;
  margin: auto;
}
.scene .popup{
  background-color: rgba(255,255,255,0.9);
  width: 500px;
  height: 270px;
  left: 50%;
  top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: absolute;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 8px 2px;
}
/* .triangle{
 border:2px solid;
  background-image:  url(img/triangle.png);
  width: 119px;
  height: 140px;
  position: absolute;
  right: 0;
  bottom: 0;

}
.arrow{
    position: absolute;
  background-image: url(img/arrow.png);
  width: 43px;
  height: 21px;
  background-repeat: no-repeat;
  right: 11px;
  bottom: 12px;
    z-index: 20;
} */
input[type=text], input[type=password]{
  border: 0;
  position: absolute;
  margin-left: -200px;
 left: 50%;
  background-color:   #CDCDCD;
  width: 400px;
  height: 35px;
/*  padding:0;
  border: 0;*/
  text-indent: 30px;
    font-family: 'Sansita', sans-serif;
    font-size: 19px;
}
input[type=password]{
  margin-top:50px;
    position: absolute;
  margin-left: -200px;
 left: 50%;
}

input[type=text]:focus, input[type=password]:focus{
}

.button:hover{
  background:#800080;
}
@keyframes buttonHoverAnimation{
  0%{
transform: scale(0.6);
  }
  30%{
transform: scale(0.62);
  }
  70%{
transform: scale(0.58);
  }
  100%{
transform: scale(0.6);
  }
}
.buttonNext:hover{
  /* border: 1px solid; */
  transform: scale(0.6);
  border-radius: 40px;
  width: 300px;
  height: 80px;
  position: absolute;
  margin-left: 50%;
  left: -150px;
  background-color: #AFFA00;
  box-shadow: rgba(0,0,0,0.2) 0px 4px 2px 0px ;
    animation-name: buttonHoverAnimation;
      animation-duration: 0.5s;
}
.buttonNext{
  font-family: 'Sansita', sans-serif;
  font-size: 55px;
  padding-bottom: 20px; 
    color: rgba(0,0,0,0.78);
  /* border: 1px solid; */
  border-radius: 40px;
  transform: scale(0.6);
  border: 0px;
  width: 300px;
  height: 80px;
  position: absolute;
  margin-left: 50%;
  left: -150px;
  bottom: 10px;
  background-color: #AFFA00;
  box-shadow: rgba(0,0,0,0.2) 0px 4px 2px 0px ;
}
